<section class="m-4">
  <h1 class="mb-4">Cadastrar {{ title | lowercase }}</h1>

  <div class="card mb-4 p-4">
    <div class="form pb-3">
      <div class="form-row">
        <div class="col-lg-2">
          <label for="nmRamoSetor" class="font-weight-bold">Ramo Setor</label>
          <select id="nmRamoSetor" class="form-control" (change)="onChangeTipo($event.target)" *ngIf="ramoSetores | async as ramoSetores; else loading">
            <option selected="" value="0">Selecione...</option>
            <option *ngFor=" let fornecedor of ramoSetores" value="{{ fornecedor.id }}">{{ fornecedor.nmRamoSetor }}</option>
          </select>
        </div>
        <div class="col-lg-5">
          <label for="nmFornecedor" class="font-weight-bold">Fornecedor</label>
          <input
            id="nmFornecedor"
            (keyup)="onChangeDs($event.target)"
            class="form-control"
            type="text"
            maxlength="80"
          />
        </div>
        <div class="col">
          <label for="inAtivo" class="font-weight-bold">Situação</label>
          <select id="inAtivo" class="form-control" (change)="onChangeSituacao($event.target)">
            <option selected value="-1">TODOS</option>
            <option value="1">Ativo</option>
            <option value="0">Inativo</option>
          </select>
        </div>

        <div class="col">
          <label style="display: block">&nbsp;</label>
          <button type="button" class="btn btn-primary btn-block" (click)="filtrar()">Buscar</button>
        </div>
        <div class="col">
          <label style="display: block">&nbsp;</label>
          <button type="button" class="btn btn-outline-primary px-4 btn-block" (click)="abrirModal(fornecedor, 'Novo', true, false)">Novo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-3 table-responsive-xl-12">
    <div
      class=""
      *ngIf="fornecedores | async as fornecedores; else loading"
    >
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-1" (click)="setOrder('id')">
              Nº
              <span class="sort-arrow" *ngIf="key == 'id'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-2" (click)="setOrder('nmRamoSetor')">
              Ramo
              <span class="sort-arrow" *ngIf="key == 'nmRamoSetor'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-4" (click)="setOrder('nmFornecedor')">
              Fornecedor
              <span class="sort-arrow" *ngIf="key == 'nmFornecedor'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-2" (click)="setOrder('nuCnpj')">
              CPNJ
              <span class="sort-arrow" *ngIf="key == 'nuCnpj'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1" (click)="setOrder('nuTelefone')">
              Telefone
              <span class="sort-arrow" *ngIf="key == 'nuTelefone'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1" (click)="setOrder('inAtivo')">
              Situação
              <span class="sort-arrow" *ngIf="key == 'inAtivo'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1">Ações</th>
          </tr>
        </thead>

        <tbody *ngIf="fornecedores.length != 0">
          <tr
            *ngFor="
              let fornecedor of fornecedores
                | paginate: { itemsPerPage: 10, currentPage: paginaAtual }
                | orderBy: key:reverse
            "
          >
            <td>{{ fornecedor.id }}</td>
            <td>{{ fornecedor.nmRamoSetor }}</td>
            <td>{{ fornecedor.nmFornecedor }}</td>
            <td>{{ fornecedor.nuCnpj }}</td>
            <td>{{ fornecedor.nuTelefone }}</td>
            <td>{{ fornecedor.inAtivo == 'true' ? "Ativo" : "Inativo" }}</td>
            <td>
              <button
                type="submit"
                (click)="abrirModal(fornecedor, 'Detalhar', false, false)"
                class="btn p-1"
                placement="top"
                ngbTooltip="Detalhar"
              >
                <h5>
                  <i class="bi bi-info-circle-fill" style="color: #0d6efd"></i>
                </h5>
              </button>
              <button
                type="submit"
                (click)="abrirModal(fornecedor, 'Editar', false, true)"
                class="btn p-1"
                placement="top"
                ngbTooltip="Editar"
              >
                <h5>
                  <i class="bi bi-pencil-square" style="color: #0d6efd"></i>
                </h5>
              </button>
              <button
                type="submit"
                (click)="abrirModal(fornecedor, '', false, false)"
                class="btn p-1"
                placement="top"
                ngbTooltip="Excluir"
                [disabled]="fornecedor.inAtivo == '0'"
              >
                <h5><i class="bi bi-x-circle" style="color: #0d6efd"></i></h5>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="fornecedores.length == 0">
          <tr>
            <td colspan="4">Nenhum registro encontrado.</td>
          </tr>
        </tbody>
      </table>

      <p>
        Você está na <strong>{{ paginaAtual }}ª</strong> página, exibindo
        <strong>10</strong> registros de um total de
        <strong>{{ fornecedores.length }}</strong
        >.
      </p>

      <pagination-controls
        (pageChange)="paginaAtual = $event"
        previousLabel="Anterior"
        nextLabel="Próximo"
        class="my-pagination"
      >
      </pagination-controls>
    </div>
  </div>
  <ng-template #loading>
    <span>Carregando...</span>
  </ng-template>
</section>
