<section class="m-4">
  <h1 class="mb-4">Cadastrar {{ title | lowercase }}</h1>

  <div class="card mb-4 p-4">
    <div class="form pb-3">
      <div class="form-row" [formGroup]="queryField">

        <div class="col-lg-6">
          <app-form-field
            formControlName="nmFornecedor"
            [classeCss]="aplicaCssErro('nmFornecedor')"
            id="nmFornecedor"
            label="Fornecedor"
            [control]="queryField.get('nmFornecedor')"
          >
          </app-form-field>
        </div>

        <div class="col">
          <label for="inAtivo" class="font-weight-bold">Situação</label>
          <select formControlName="inAtivo" id="inAtivo" class="form-control">
            <option value="-1">TODOS</option>
            <option value="1">Ativo</option>
            <option value="0">Inativo</option>
          </select>
        </div>

        <div class="col">
          <label style="display: block">&nbsp;</label>
          <button
            class="btn btn-primary btn-block"
            type="submit"
            (click)="onBuscar()"
          >
            Buscar
          </button>
        </div>
        <div class="col">
          <label style="display: block">&nbsp;</label>
          <button
            type="submit"
            class="btn btn-outline-primary px-4 btn-block"
            (click)="abrirModal(fornecedor, 'Novo', true, false)"
          >
            Novo
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-3 table-responsive-xl-12">
    <div
      class=""
      *ngIf="buscaResults || fornecedoresResults as fornecedores; else loading"
    >
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-1" (click)="setOrder('id')">
              Nº
              <span class="sort-arrow" *ngIf="key == 'id'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-3" (click)="setOrder('nmFornecedor')">
              Fornecedor
              <span class="sort-arrow" *ngIf="key == 'nmFornecedor'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1" (click)="setOrder('nuCnpj')">
              CNPJ
              <span class="sort-arrow" *ngIf="key == 'nuCnpj'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1" (click)="setOrder('nuTelefone')">
              Telefone
              <span class="sort-arrow" *ngIf="key == 'nuTelefone'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-2" (click)="setOrder('nmRamoSetor')">
             Ramo (Setor)
              <span class="sort-arrow" *ngIf="key == 'nmRamoSetor'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1" (click)="setOrder('inAtivo')">
              Situação
              <span class="sort-arrow" *ngIf="key == 'inAtivo'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th scope="col" class="col-1">Ações</th>
          </tr>
        </thead>

        <tbody *ngIf="fornecedores.length != 0">
          <tr
            *ngFor="
              let fornecedor of fornecedores
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: paginaAtual,
                      totalItems: count
                    }
                | orderBy: key:reverse
            "
          >
            <td>{{ fornecedor.id }}</td>
            <td>{{ fornecedor.nmFornecedor }}</td>
            <td>{{ fornecedor.nuCnpj }}</td>
            <td>{{ fornecedor.nuTelefone }}</td>
            <td>{{ fornecedor.nmRamoSetor }}</td>
            <td>{{ fornecedor.inAtivo ? "Ativo" : "Inativo" }}</td>
            <td>
              <button
                type="submit"
                (click)="abrirModal(fornecedor, 'Detalhar', false, false)"
                class="btn p-1"
                placement="top"
                ngbTooltip="Detalhar"
              >
                <h5>
                  <i class="bi bi-info-circle-fill" style="color: #0d6efd"></i>
                </h5>
              </button>
              <button
                type="submit"
                (click)="abrirModal(fornecedor, 'Editar', false, true)"
                class="btn p-1"
                placement="top"
                ngbTooltip="Editar"
              >
                <h5>
                  <i class="bi bi-pencil-square" style="color: #0d6efd"></i>
                </h5>
              </button>
              <button
                type="submit"
                (click)="abrirModal(fornecedor, '', false, false)"
                class="btn p-1"
                placement="top"
                ngbTooltip="Excluir"
                [disabled]="!fornecedor.inAtivo"
              >
                <h5><i class="bi bi-x-circle" style="color: #0d6efd"></i></h5>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="fornecedores.length == 0 && buscaResults.length == 0">
          <tr class="m5">
            <td colspan="5"><span>Nenhum registro encontrado.</span></td>
          </tr>
        </tbody>
      </table>

      <p>
        Você está na <strong>{{ paginaAtual }}ª</strong> página, exibindo
        <strong>{{ fornecedores.length }}</strong> registros de um total de
        <strong>{{ count }}</strong
        >.
      </p>

      <pagination-controls
        (pageChange)="handlePageChange($event)"
        previousLabel="Anterior"
        nextLabel="Próximo"
        class="my-pagination"
      >
      </pagination-controls>
    </div>
  </div>
  <ng-template #loading>
    <span>Carregando Cadastros de Fornecedores...</span>
  </ng-template>
</section>
