<form [formGroup]="formModal" (ngSubmit)="handleSubmit($event)" *ngIf="tipoForm; else deletar">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ tipoForm }} cadastro de {{ title | lowercase }}
    </h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form">
      <label class="font-weight-bold" for="tipoProdutoId">Tipo de Produto</label>
      <select id="tipoProdutoId" formControlName="tipoProdutoId" [attr.disabled]="!editavel && !this.novoCadastro ? '' : null" [class]="aplicaCssErro('tipoProdutoId')"
      class="form-control" (keyup)="handleKeyUp($event)" (change)="onChangeTipo($event.target)" *ngIf="tiposDeProdutos | async as tiposDeProdutos; else loading">
        <option selected="" value="0">Selecione...</option>
        <option *ngFor=" let produto of tiposDeProdutos" value="{{ produto.id }}">{{ produto.dsTipoProduto }}</option>
      </select>

      <app-form-field
        formControlName="nmProduto"
        [classeCss]="aplicaCssErro('nmProduto')"
        id="nmProduto"
        label="Produto"
        [control]="formModal.get('nmProduto')"
        autocomplete="nmProduto"
        [isReadOnly]="!this.novoCadastro && !editavel"
        [rows]="'2'"
      ></app-form-field>

      <div></div>
      <app-form-field
        formControlName="vlProduto"
        [classeCss]="aplicaCssErro('vlProduto')"
        id="vlProduto"
        label="Valor do Produto"
        [control]="formModal.get('vlProduto')"
        autocomplete="vlProduto"
        [isReadOnly]="!this.novoCadastro && !editavel"
        [rows]="'1'"
      ></app-form-field>

      <app-form-field
        formControlName="tpMedida"
        [classeCss]="aplicaCssErro('tpMedida')"
        id="tpMedida"
        label="Tipo de Medida"
        [control]="formModal.get('tpMedida')"
        autocomplete="tpMedida"
        [isReadOnly]="!this.novoCadastro && !editavel"
        [rows]="'1'"
      ></app-form-field>

      <app-form-field
        formControlName="qtdProduto"
        [classeCss]="aplicaCssErro('qtdProduto')"
        id="qtdProduto"
        label="Quantidade"
        [control]="formModal.get('qtdProduto')"
        autocomplete="qtdProduto"
        [isReadOnly]="!this.novoCadastro && !editavel"
        [rows]="'1'"
      ></app-form-field>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          formControlName="inAtivo"
          id="ativo"
          value="1"
          (keyup)="handleKeyUp($event)"
          [attr.disabled]="!editavel && !this.novoCadastro ? '' : null"
        />
        <label class="form-check-label" for="ativo">Ativo</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          formControlName="inAtivo"
          id="inativo"
          value="0"
          (keyup)="handleKeyUp($event)"
          [attr.disabled]="!editavel && !this.novoCadastro ? '' : null"
        />
        <label class="form-check-label" for="inativo">Inativo</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <!-- HTML markup for Back button -->
      <button
        (click)="cancelando()"
        class="btn btn-outline-secondary w-20"
        type="submit"
      >
        <span translate><i class="fa fa-arrow-left"></i> Cancelar</span>
      </button>
      <!-- HTML markup for Cadatrar button -->
      <button
        (click)="onSalvar()"
        class="btn btn-primary w-20 ml-2"
        type="submit"
        *ngIf="this.novoCadastro && !editavel"
      >
        <span translate><i class="fas fa-plus"></i> Salvar</span>
      </button>
      <!-- HTML markup for Editar button -->
      <button
        (click)="onSalvar()"
        class="btn btn-primary w-20 ml-2"
        type="submit"
        [disabled]="!formModal.dirty"
        *ngIf="!this.novoCadastro && editavel"
      >
        <span translate><i class="fas fa-edit"></i>Salvar</span>
      </button>
    </div>
  </div>

  <!--app-form-debug [form]="formModal"></app-form-debug-->
</form>

<ng-template #loading>
  <span>Carregando...</span>
</ng-template>

<ng-template #deletar>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmar exclusão</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Tem certeza que deseja excluir esse cadastro? </strong></p>
    <p>Toda informação associada a ele será apagada.
      <span class="text-danger">Essa operação não pode ser desfeita.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
      (click)="activeModal.dismiss('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="Ondeletar()">Excluir</button>
  </div>
</ng-template>

